@media screen and (min-width:310px) and (max-width:400px){
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    body{
        margin: 0px;
        padding: 0px;
    }
    .calc{
        width: 100%;
        height: 100vh;
        background:#00223A ;
        position: relative;
    }
    .display_content{
      text-align: end;
      width: 100%;
      height: 181px;
      background:#00223A ;
      position: relative;
    
    }
    
    .operation{
        width: 100%;
        height: 45px;
        top: 71px;
        right: 43px;
        color: #fff;
        /* background: red; */
        font-size: 2em;
        /* padding-top: 81px; */
        /* padding-right: 22px; */
        position: absolute;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .operation span{

        color: red;
       }
    .result{
        width: 100%;
        height: 40px;
        top: 117px;
        right: 44px;
        color: #fff;
        font-size: 2em;
        position: absolute;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .br{
        width: 100%;
        height: 20px;
        /* background: red; */
    }
    .btn_content{
        margin: auto;
        width: 100%;
        height: 77vh;
        border-radius: 21px 21px 0px 0px;
        background: rgb(0, 27, 47);

    }
    .btn{
        text-align: center;
        line-height: 92px;
        font-size: 2em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 24%;
        height: 19%;
        float: left;
        background: none;
        color: #fff;
        border: none;
    }
   
    .scrol{
        width: 102px;
        height: 7px;
        left: 122px;
        bottom: 11px;
        background: #C4C4C4;
        position: absolute;
        border: 3px solid #C4C4C4;
       
    }
    
    .coloRed{
        color: #FF6060;
        font-size: 1.2em;
    }
    .colorBlue{
        color: #00B0D7;
        
    }
    .percent{
        color: #00B0D7;
        font-size: 1.3em;
    }

    
}